body{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f3f3f3;
    color:rgb(86, 92, 91);
}
.container{
    width: 80%;
    margin: auto;
	overflow: hidden;
}
nav{
    width: 100%;
    height: 100px;
}

.main{
    text-align: center;
}

.main h1{
    font-size:30px;
    margin: 0 0 5px
}


.main h3{
    font-size:14px;
}

form{
    margin: 0 110px;
}

form input[type="email"]{
    width:70%;
    height: 20px;
    border-radius: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

form input[type="submit"]{
    width: 150px;
    height:26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightslategrey;
    border-radius: 4px;
    color: white;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li i{
    margin-top: 50px;
    position: relative;
    left: 490px;
    letter-spacing: .5em;
}

.main-footer{
    text-align: center;
    margin-top: 40px;
}

@media(max-width:768px){
    form{
        margin:auto;
    }

    form input[type="email"]{
        width:90%;
        height: 20px;
    
    }
    
    form input[type="submit"]{
        width: 92%;
        height:26px;
    }

    ul li i{
        position: relative;
        left: 150px;
    }

    .main-footer{
        margin-top: auto;
        margin-bottom: 0;
    }

}